body {
  background-color: rgba(255, 255, 255, 0.765);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  background-color: rgba(242, 237, 237, 0.765);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
.body {
  display: flex;
  flex-direction: column;
}
.toppa p {
  font-weight: 550;
  font-size: 15px;
}
.toppa img {
  width: 20px;
  height: 20px;
  margin-top: 15px;
}
.toppa {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid rgb(209, 208, 208);
  padding: 10px 10px 10px 20px;
}
.toppa h3 {
  font-weight: 400;
}
.right {
  display: flex;
  gap: 20px;
}
.more {
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
}
.more img {
  margin-top: 15px;
}
.challenges {
  border-bottom: 1px solid rgb(209, 208, 208);
  font-weight: bold;
  font-family: sans-serif;
  padding-left: 20px;
}
.challenges p {
  border-right: 1px solid rgb(209, 208, 208);
}
.pro {
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: rgb(22, 22, 170);
  border-radius: 5px;
  color: white;
  padding: 3px 3px 3px 3px;
  margin-top: 13px;
  width: 40px;
  height: 20px;
  text-align: center;
}
.right .checked {
  z-index: 7;
  width: 14px;
  height: 14px;
  right: 45px;
  position: absolute;
}
.minimain {
  background-color: rgb(234, 231, 231);
  width: 1140px;
  margin-left: 250px;
  padding: 0px 20px 0px 20px;
  margin-top: 30px;
  border-radius: 10px;
}
.section {
  width: 400px;
}
.in-row {
  margin-left: 150px;
  margin-right: 150px;
}
.minimain img {
  width: 12px;
  height: 12px;
}
.check {
  display: flex;
  gap: 8px;
}
.row {
  display: flex;
  gap: 30px;
}
.body {
}
.check img {
  margin-top: 18px;
}
.unlock {
  display: flex;
  justify-content: space-between;
}
.search {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 30px 0px;
  margin-left: 150px;
  margin-right: 150px;
}
.button {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-right: 30px;
}
.button {
  background-color: rgb(213, 9, 9);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 20px;
  width: 200px;
  font-weight: 600;
  cursor: pointer;
}
button:hover {
  background-color: white;
  color: black;
}
.input img {
  width: 18px;
  height: 18px;
  z-index: 2;
  position: absolute;
  left: 390px;
  margin-top: 16px;
}
.filter img {
  width: 15px;
  height: 15px;
  margin-top: 15px;
}
.level img {
  width: 15px;
  height: 15px;
}
.input input {
  width: 250px;
  z-index: 1;
  padding: 17px 13px 17px 13px;
  font-size: 15px;
}
.topmid {
  display: flex;
  gap: 30px;
}
.filter {
  display: flex;
  background-color: white;
  padding: 0px 10px 0px 10px;
  width: 120px;
  gap: 10px;
  border-radius: 5px;
}
.after-search {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-left: 150px;
  margin-right: 150px;
}
.not-sure {
  display: flex;
  gap: 20px;
  font-size: 13px;
  margin-top: 10px;
}
.showing {
  font-size: 13px;
}
.not-sure a {
  margin-top: 12px;
}
.in-row img {
  width: 370px;
  height: 270px;

  box-sizing: border-box;
  padding: 20px;
  background-color: rgb(233, 230, 230);
  object-fit: cover;
}
.in-row {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}
.language {
  display: flex;
  gap: 10px;
}
.junior {
  display: flex;
}
input {
  padding: 10px;
}
.level-up {
  display: flex;
}
.advanced {
  display: flex;
}
.pad {
  box-sizing: border-box;
  padding: 10px 20px 20px 20px;
}
.section {
  background-color: white;
  padding: 0px;
  margin-top: 20px;
  border-radius: 10px;
}
.number {
  color: white;
}
.word {
  padding: 5px;
  font-weight: 600;
}
.html {
  color: rgb(38, 136, 207);
  font-weight: 700;
}
.css {
  color: blueviolet;
  font-weight: 700;
}
.js {
  font-weight: 700;
  color: rgb(255, 83, 112);
}
.number {
  background-color: rgb(255, 187, 0);
  padding: 3px;
}
.word {
  background-color: white;
  border: 2px solid rgb(255, 187, 0);
  color: rgb(255, 187, 0);
}
.number-2 {
  background-color: rgb(255, 77, 0);
  color: white;
  padding: 4px;
}
.word-2 {
  border: 2px solid rgb(255, 77, 0);
  color: rgb(255, 77, 0);
  padding: 5px;
}
.word-3 {
  border: 2px solid rgb(27, 141, 42);
  color: rgb(27, 141, 42);
  padding: 5px;
}
.number-3 {
  color: white;
  background-color: rgb(27, 141, 42);
  padding: 4px;
}
.pad .language {
  margin: 0;
}
.pad h4 {
  margin: 10px 0px 10px 0px;
}
.butt {
  cursor: pointer;
  font-size: 30px;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}
.link {
  color: blue;
  text-decoration: underline;
}
